.cook-navend {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
    color: rgb(124, 165, 201);

}

.navbar-cook {
    background: rgb(56,56,56);
    background: radial-gradient(circle, rgba(56,56,56,1) 0%, rgba(25,25,25,1) 81%);   
     height: 80px;
     display: grid;
     /* position: sticky; */
     top: 0;
     z-index: 999;
     align-items: center;
  }
  