.Allpage-cook {
    display: flex;
    margin: 5px;
    background: url('./CookBack.jpg') center center/cover no-repeat;
    justify-content: space-between;
}

.List-head {
    width: 100%;
    background: rgb(233, 205, 188);
    height: 50px;
    text-align: center;

}

.cook-flex1 {
    flex: 1;
    margin: 5px;
}

.cook-flex2 {
    flex: 3;
    margin: 5px;
}

.cook-content {
    text-align: center;
    font-style: normal;
    color: black;
    font-weight: 100;
    margin-top: 10px; 
} 

.cook-card {
    display: inline-block;
    padding: 50px;
    flex-direction: column;
    flex-wrap:wrap;
    flex-flow: row wrap;
    justify-content: space-between;  
    margin-top: -10px;
    margin-bottom: 20px;  
}

.cook-card .cook-cardItem {
    box-sizing: border-box;
    border-radius: 5px;
    height: 50px;
    align-items: center;
    width: 200px;
    cursor: pointer;
    border: 2px solid;
    margin: 40px;
    margin-bottom: 20px;
    background: #12232E;
}

.cardItem:hover {
    background-color: cadetblue;
}

.cook-card1 {
    display: flex;
    padding: 20px;
    flex-direction: column;
    flex-wrap:wrap;
    flex-flow: row wrap;
    margin-top: 10px;
    margin-bottom: 20px;
} 

.cook-card1 .cook-cardItem1 {
    box-sizing: border-box;
    box-sizing: initial;
    border-radius: 5px;
    border: 2px solid;
    margin: 20px;
    margin-bottom: 20px;
 background: #12232E;;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 25px 10px rgba(25, 25, 25, .1);

}

.btn-unavailable{
    height: 35px;
    font-size: 15px;
    width: 150px;
    align-items: center;
    background-color: aliceblue;
    margin: 20px;
}

.btn-unavailable:hover{
    background-color:whitesmoke;
    color: rgb(0, 0, 0);
}

.flex-categorys {
    width: 340px;
    margin: 5px;
    /* position: fixed;
    top: 20;
    z-index: 999; */
}

.flex-menus {
    width: 820px;
    margin: 5px;
}