.complain-label{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    color: black;
}

.complaint-data {
    display: flex;
    padding: 20px;
    flex-direction: column;
    flex-wrap:wrap;
    flex-flow: row wrap;
    justify-content: center;  
}

.complaint-data .Single-complaint {
    box-sizing: border-box;
    box-sizing: initial;
    border-radius: 5px;
    border: 2px solid;
    padding: 20px;
    margin: 20px;
    margin-bottom: 20px;
    background: white;
    box-shadow: 0 0 25px 10px rgba(116, 111, 111, 0.3);
}

.complaint {
      font-size: 15px;
      margin: 10px;
      font-size: 15px;
}

.main-complaint{
    font-size: 15px;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
}