img {
   
justify-content: center;   
}

.image {
    height: 200px;
    width: 200px;
}

.Allpage {
    display: flex;
    margin: 5px;
    background: url('./back.jpg') center center/cover no-repeat;
    justify-content: space-between;
}

/* .items2 {
    grid-area: overlap;
}

.items1 {
  grid-area: overlap;
}
*/
.wrapper-nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "overlap";
}

.counter {
    background: rgb(0, 0, 0);
    margin: auto;
    border-radius: 3px;
    color: white;
    height: 20px;
    width: 20px;
}

.flex1 {
    flex: 1;
    margin: 5px;
}

.flex2 {
    flex: 3;
    margin: 5px;
}

.card {
    display: inline-block;
    padding: 50px;
    flex-direction: column;
    flex-wrap:wrap;
    flex-flow: row wrap;
    justify-content: space-between;  
    margin-top: -10px;
    margin-bottom: 20px;  
}

.card .cardItem {
    box-sizing: border-box;
    border-radius: 5px;
    height: 50px;
    align-items: center;
    width: 200px;
    cursor: pointer;
    border: 2px solid;
    margin: 40px;
    margin-bottom: 20px;
    background: #12232E;
}

.cardItem:hover {
    background-color: cadetblue;
}

.card1 {
    display: flex;
    padding: 20px;
    flex-direction: column;
    flex-wrap:wrap;
    flex-flow: row wrap;
    margin-top: 10px;
    margin-bottom: 20px;
} 

.card1 .cardItem1 {
    box-sizing: border-box;
    box-sizing: initial;
    border-radius: 5px;
    border: 2px solid;
    margin: 20px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, rgb(110, 108, 108) 0%, rgb(17, 17, 17) 100%);
    border-color: rgb(119, 119, 119);
    box-shadow: 0 0 25px 10px rgba(25, 25, 25, .1);

}

.FoNt {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: oblique;
    font-size: 20px;
    font-family: monospace;
}

.state {
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.priority {
    height: 30px;
    width: 70px;
    margin-top: 20px;
    margin: 10px;
}

.addCart {
    height: 30px;
    width: 130px;
}


.Font1 {
    color: rgb(255, 255, 255);
}

.logo {
    text-align: center;
    background: transparent;
}

.content {
    text-align: center;
    font-style: normal;
    color: black;
    font-weight: 100;
    margin-top: 10px; 
} 

.button {
    width: 120px;
    height: 30px;
    justify-content: center;

}

.titles {
    color: black;
    font-weight: bold;
    padding: 5px;
}

.List {
    width: 100%;
    background: rgb(233, 205, 188);
    height: 50px;
    text-align: center;

}

.addbutton{
    height: 30px;
    width: 100px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgb(255, 255, 255);

}

/* .wrapper-nav{
    display: flex;
    flex-wrap: wrap;
} */

.priority-set{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.priority-btn{
    height: 25px;
    width: 25px;
    font-weight: bold;
}

p {
    color: white;
    font-size: 16px;
}

.Quantity-set {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.Quantity-btn {
    height: 25px;
    width: 25px;
    font-weight: bold;
}
