img {
    height: 250px;
    width: 250px;
   
}

.card {
    display: flex;
    padding: 80px;
    flex-direction: row;
    flex-wrap:wrap;
    flex-flow: row wrap;
    justify-content: space-between;  
    margin-top: 10px;
    margin-bottom: 20px;  
}

.card .cardItem {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid;
    margin: 40px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, rgb(110, 108, 108) 0%, rgb(17, 17, 17) 100%);
    border-color: rgb(119, 119, 119);
    box-shadow: 0 0 25px 10px rgba(25, 25, 25, .1);
}

.FoNt {
    color: white;
    font-weight: bold;
    font-style: oblique;
    font-size: 20px;
    font-family: monospace;
}



.content {
    text-align: center;
    font-style: normal;
    color: black;
    font-weight: 100;
    margin-bottom: 15px;
    margin-top: 15px;
 
} 

.button {
    width: 120px;
    height: 30px;
    justify-content: center;

}

.List {
    color: black;
    font-size: 30px;
    justify-content: center;
    font-weight: bold;
    background: dimgray;
    width: 100%;
    height: 50px;
}

.addbutton{
    height: 30px;
    width: 100px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgb(255, 255, 255);

}

