
  .hero {
    background: url('./Images/desert.jpg') center center/cover no-repeat;  
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }

  .hero > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
  }

  .hero > p {
    margin-top: 8px;
    color: #fff;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  @media screen and (max-width: 960px) {
    .hero > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero > h1 {
      font-size: 50px;
      margin-top: -100px;
    }

    .hero > p {
        font-size: 30px;
      }
    }  

    .offer-button{
      height: 50px;
      background:transparent;
      color: white;
      font-size: 20px;
      width: 150px;
    }  
    
.btn-section{
  margin: 20px;
}

    .offer-button:hover{
      background-color: white;
      color: black;
    }

    .popup-offer_inner {
      position: absolute;
      left: 25%;
      right: 25%;
      top: 25%;
      bottom: 25%;
      height: 60%;
      width: 50%;
      margin: auto;
      background: white;
      border-radius: 7px;
    }

    .popup-offer {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background-color: rgba(0,0,0, 0.5);
    }
    
    .Feedbackpopup_inner {
      position: absolute;
      left: 25%;
      right: 25%;
      top: 25%;
      bottom: 25%;
      height: 70%;
      width: 35%;
      margin: auto;
      background: white;
      border-radius: 7px;
    }

    .Feedbackpopup {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background-color: rgba(0,0,0, 0.5);
    }
    
    .closeoffer-set{
      display:flex;
      justify-content: flex-end;
      margin-top: -40px;
    }

    .closeoffer-btn {
      height: 40px;
      width: 80px;
      font: bold;
      background: rgb(43, 42, 42);
      color: white;
      border-radius: 7px;
    }
    .closeoffer-btn:hover {
      cursor: pointer;
         background:darkgray;
         color: black;
    }
   
    .feedback-button {
      margin: 30px;
      height: 50px;
      width: 100px;
      font: bold;
      font-size: 15px;
      background: rgb(43, 42, 42);
      color: white;
      border-radius: 7px;
    }
   
    .feedback-button:hover{
      cursor: pointer;
      background:darkgray;
      color: black;
   }

    textarea{
      margin-top: 6px;
      width: 18em;
      height: 37px;
      padding: 0px 10px;
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      background-color: #f3f3f3;
      border: 0;
      border-radius: 4px;
      margin-bottom: 31px;
      transition: all 250ms ease-in-out;
    }